* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-menu {
    background-color: brown;
}

.nav-menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
}

.nav-menu li {
    padding: 0.5em;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu li:hover {
    background-color: burlywood;
    cursor: pointer;
}

.task-container {
    width: 80%;
    margin-inline: auto;
    background-color: burlywood;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.task-container h1 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    margin-top: 20px;
}

.task-container p {
    padding: 10px;
    line-height: 1.5;
}

#current-time {
    font-size: 18px;
    text-align: center;
    margin: 0.5em;
}

/*Css kod för "pictures sida"*/

picture img {
    width: 70%;
    max-width: 100%;
    padding: 10px;
}

.picture-container {
    width: 90%;
    margin-inline: auto;
    background-color: aliceblue;
    text-align: center;
}